<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h3> Task Information Reminder </h3>
       <p>
         Title: <%= @task.title %><br> 
         Description: <%= @task.description %><br>  
         Completed task: <%= @task.completed %><br> 
         Due Date: <%= @task.due_date %><br> 
      </p>
    <p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>