<h3> Archived List </h3>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archived.reverse.each do |list| %>
      <tr>
        <td><%= link_to list.title, task_list_path(list.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>