<h3> Archived List </h3>
<table class="table table-condensed table-striped" id="archived">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archived.reverse.each do |list| %>
      <tr>
        <td><%= link_to list.title, task_list_tasks_path(list.id) %></td>
        <td><%= link_to 'Delete', task_list_path(list.id), method: :delete, data: { confirm: "Are you sure you want to delete this list?" }%></td>

      </tr>
    <% end %>
  </tbody>
</table>