<h1> Edit Task List </h1>
<div class="col-xs-6">
    <div class="form">

        <%= form_for(@task_list, url: task_list_path, method: :patch, role:"form") do |f| %>

          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control"%><br>

        <div>
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>  
</div>
